<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-datetime locale="en-GB" hourCycle="h12"></ion-datetime>
    <ion-header>
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">メインコンテンツ</ion-content>
    <ion-content class="ion-padding">商品紹介</ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Page</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
</ion-app>
